<body>
    <button class="cn"><a href="/registrar_producto">Registrar</a></button>
</body>
<br></br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar_Producto</title>
</head>
<body>
    <form action="Buscar_Productos" method="POST">
        <br></br>
        <label for="Nombre_Producto">Producto</label>
        <input name="Nombre_Producto" id="Nombre_Producto">
        <br></br>
        <label for="Codigo">Codigo</label>
        <input name="Codigo" id="Codigo">
        <br></br>
        <label for="Marca">Marca</label>
        <input name="Marca" id="Marca">
        <br></br>
        <button name="Buscar" >Buscar</button>
    </form>
    
</body>
</html>