<body>
    <form action="" method="POST">
      <section class="container">
        <h1>registrar_producto</h1>
        <p>Crea un nuevo producto</p>
        <hr>
        <h2>Información necesaria</h2>
        <label for="Codigo"><b>Codigo</b></label>
        <input type="text" placeholder="Enter Codigo" name="Codigo" id="Codigo" required>
        <br></br>
        <label for="Nombre"><b>Nombre</b></label>
        <input type="Nombre" placeholder="Enter Nombre" name="Nombre" id="Nombre" required>
        <br></br>    
        <label for="Precio"><b>Precio</b></label>
        <input type="number" placeholder="Precio" name="Precio" id="Precio" required>
        <br></br>  
        <label for="stock"><b>stock</b></label>
        <input type="number" placeholder="stock" name="stock" id="stock" required>
        <br></br>
        <label for="Descripción"><b>Descripción</b></label>
        <input type="Descripción" placeholder="Descripción" name="Descripción" id="Descripción" required>
        <br></br>
        <label for="Marca"><b>Marca</b></label>
        <input type="Marca" placeholder="Marca" name="Marca" id="Marca" required>
        <br></br>
        <input type="submit" value="Register">
    </form>
  </body>
  </html>