<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="estilo_register.css">
  <title>Register</title>
</head>
<body>
  <form action="" method="POST">
      <section class="container">
      <h1>Register</h1>
      <p>Create your account</p>
      <hr>
      <h2>Basic Information</h2>
      <label for="Name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="Name" id="Name" required>

      <label for="Phone"><b>Celular</b></label>
      <input type="Phone" placeholder="Enter Phone number" name="Phone" id="Phone" required>

      <label for="adress"><b>adress</b></label>
      <input type="adress" placeholder="adress" name="adress" id="adress" required>

      <hr>
      <h2>Complete your credentials</h2>
      <label for="username"><b>Username</b></label>
      <input type="username" placeholder="Username" name="username" id="username" required>

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Email" name="email" id="email" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Password" name="password" id="password" required>
      <input type="submit" value="Register">
  </form>
</body>
</html>